@import '../variables';

.other-menu {
  background-color: $co-pink;
  border-radius: 0;
  border-radius: none;
  color: $co-white;
  font-family: $fo-pavanam;
  padding: 15px 20px;
  text-transform: uppercase;

  svg {
    margin-right: 13px;
  }

  span[class="caret"] {
    margin-left: 60px;
  }

  &.other-menu--smalltext {
    font-size: 12px;
  }
}

.demo {
  display: none;
}
