{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "if",
        "warn",
        "return",
        "mixin",
        "include",
        "function"
      ]
    }]
  }
}
