// Colors
$co-purple   : #613790;
$co-red      : rgb(161, 22, 60);
$co-orange   : rgb(175, 67, 19);
$co-green    : rgb(44, 84, 14);
$co-melon    : rgb(206, 81, 41);
$co-blue     : rgb(24, 68, 135);
$co-pink     : #cf1b74;
$co-white    : #fff;

// Fonts
$fo-norican: 'Norican';
$fo-pavanam: 'Pavanam';
